= form_tag '/search/index', :method => :post do
  = text_field_tag :terms, @original_terms
  = submit_tag :search
  %br
  %p
    w:6 => show repos w/6 or more watchers
    |
    f:2 => show repos w/2 or more forks

#results
  - @repositories && @repositories.each do |repo|
    %div
      .name= repo["name"]
      .author
        by:
        %a{ :href => "https://github.com/#{repo["owner"]}" }
          = repo["owner"]
      .urls
        %a{ :href => repo["url"] } Github
        - unless repo["homepage"].blank?
          %a{ :href => repo["homepage"] } Home Page
      .description= repo["description"]
      .details
        %p
          Last updated:
          = Date.parse(repo["pushed_at"]).to_s
          | Watchers:
          = repo["watchers"]
          | Forks:
          = repo["forks"]
    %br
