= form_tag '/search/index', :method => :post do
  = label_tag :terms, "github repository search"
  %br
  = text_field_tag :terms, @original_terms
  = submit_tag :search
  %br
  %p
    w:6 => has 6 or more watchers
    |
    f:2 => has 2 or more forks
    %br
    p:4 => was pushed to within 4 weeks
    (these are the defaults)

#results
  - @repositories && @repositories.each do |repo|
    %div
      .name
        %a{ :href => repo["url"] }
          = repo["name"]
      .author
        by:
        %a{ :href => "https://github.com/#{repo["owner"]}" }
          = repo["owner"]
      - unless repo["homepage"].blank?
        .urls
          %a{ :href => repo["homepage"] } Home Page
      .description= repo["description"]
      .details
        %p
          Last updated:
          = Date.parse(repo["pushed_at"]).to_s
          | Watchers:
          = repo["watchers"]
          | Forks:
          = repo["forks"]
    %br
