<!DOCTYPE html>
<html>
  <head>
    <title>Hubscovery</title>
    <%= stylesheet_link_tag :all %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Sans' %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23300472-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
  </head>
  <body>
    <div class="row">
      <div class="column grid_12">
        <h1>Hubscovery</h1>
      </div>
    </div>
    <div class="row">
      <div class="column grid_8">
        <%= yield %>
      </div>
      <div class="column grid_4">
        <%= yield(:sidebar) %>
      </div>
      <div class="row">
        <div class="column grid_12">
          <p>built by <a href="mailto:jschoolcraft@aissaclabs.com">Jeff Schoolcraft</a> at <a href="http://thequeue.net">The Queue Incorporated</a>, &copy; <%= Date.today.year %> </p>
        </div>
      </div>
    </div>
  </body>
</html>
